certifi
chardet
click
easydict
h5py~=2.7
intel-openmp
imgaug
ipython
ipython-genutils
tf_slim
matplotlib
moviepy
numpy
opencv-python
pandas
patsy
python-dateutil
pyyaml
requests
ruamel_yaml
setuptools
scikit-image
scikit-learn
scipy
six
statsmodels
tables
tensorflow
tensorpack
tqdm
wheel
